<!DOCTYPE html>
<html>
  <head>
    <title>Message</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "図書登録", new_book_path %></li>
        <li><%= link_to "図書一覧", books_path %></li>
      </ul>
    </header>
    <hr>
    <div class="main">
      <%= yield %>
    </div>
    <hr>
    <footer>
      <p>© 2019 Copyright reserved rails Library</p>
    </footer>

  </body>
</html>
